<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lee.gs_tracker" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WoW.WoWRogue"
            android:label="@string/title_activity_wo_wrogue"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lee.gs_tracker.MainActivity" />
        </activity>
        <activity
            android:name=".WoW.WoWCredentials"
            android:label="@string/title_activity_wo_wcredentials"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lee.gs_tracker.MainActivity" />
        </activity>
        <activity
            android:name=".WoW.WoWHunter"
            android:label="@string/title_activity_wo_whunter"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lee.gs_tracker.MainActivity" />
        </activity>
        <activity
            android:name=".WoW.WoWPaladin"
            android:label="@string/title_activity_wo_wpaladin"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lee.gs_tracker.MainActivity" />
        </activity>
    </application>

</manifest>
